<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/WebRefeicoes</property>
<property name="hibernate.connection.username">root</property>
<property name="hibernate.connection.password">1234</property>
	<mapping class="webrefeicoes.model.Funcionario" />
	<mapping class="webrefeicoes.model.Cliente" />
	<mapping class="webrefeicoes.model.Empresa" />
	<mapping class="webrefeicoes.model.Produto" />
	<mapping class="webrefeicoes.model.Prato" />
	<mapping class="webrefeicoes.model.Pedido" />
	<mapping class="webrefeicoes.model.Embalagem" />
	<mapping class="webrefeicoes.model.Bebida" />
	<mapping class="webrefeicoes.model.Convenio" />
	<mapping class="webrefeicoes.model.Avaliacao" />
</session-factory>
</hibernate-configuration>