body {
    position: relative;
    min-height: 100%;
    background-image: url(../resources/images/wallpaper-login.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 6rem;
/*     background: #2b2727; */
}

html {
    height: 100%;
    background: #2b2727;
}

.nav-header {
    background-color: rgba(198, 40, 40, 0.38);
    border-color: #9a0000;
    border-radius: 0px;
}


.nav-header .navbar-header {
    color: white;
    font-size: 20px;
    padding: 5px;
}
    
.imgLogin {
    height: 75px;
    margin-right: 10px;
    background: #374755;
    padding-left: 25px;
    padding-right: 25px;
    border-top-left-radius: 55px;
    border-top-right-radius: 55px;
	
}
.containerLogin,
.headerLogin {
	align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.conteudoLogin {
    width: 360px;
    background: #374755;
    padding: 20px;
    border: 1px solid #374755;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}


	
.esqueciMinhaSenha { 
	color: white;
}

.esqueciMinhaSenha:hover,
.esqueciMinhaSenha:hover,
.esqueciMinhaSenha:hover { 
	color: #cfcfcf;
	text-decoration: underline;
	cursor: pointer;
}