.panel-default > .panel-heading {
    color: #fff;
    background-color: #2b2727;
    border-color: #000;
    cursor: pointer;
    border-radius: 0px;
}

.panel-default > .panel-heading:hover,
.panel-default > .panel-heading:active,
.panel-default > .panel-heading:focus {
    background-color: #a40000;
    border-color: #000;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #2b2727;
    background: #433e3e;
    padding: 0px;
}

.table > tbody > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: none;
    border-bottom: 1px solid rgba(43, 39, 39, 0.33);
    padding: 10px 20px;
    cursor: pointer;
    color: white;
}

.table > tbody > tr > td:hover {
    background: #b03030;
    transition: 0.3s all;
}

.panel-group .panel + .panel {
    margin-top: 0px;
    border-radius: 0px;
    border: 1px solid #2b2727;
    border-bottom: 1px solid #1e1d1d;
}


.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0px;
    border: 1px solid #2b2727;
    border-bottom: 1px solid #1e1d1d;
}

body, html {
	height: 100%;
    background: #2b2727;
}