.ui-calendar > input {
	width: 100%;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
    width: 23px !important;
}

.ui-selectonemenu {
    padding-right: inherit !important;
}

button[disabled], html input[disabled] {
    cursor: no-drop;
   background: #e4e4e4;	
    color: #a0a0a0;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    background-color: #680404;
    background-position: 0px;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #c92323, #d52c2c);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #c92323, #d52c2c);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.ui-datatable-scrollable-body::-webkit-scrollbar-thumb {
    border-radius: 0px !important;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.35);
}

.ui-datatable .ui-datatable-scrollable-body {
    background: rgb(255, 255, 255) !important;
    outline: none;
    border-top: none ;
}

.ui-outputlabel .ui-outputlabel-rfi {
    color: red;
}

.ui-state-error {
    background: #eeeeee 50% 50% repeat-x;
    color: #000000;
}

.ui-growl-info {
    background: #337ab7 !important;
}

#cardapio ul {
   display: flex;
}

#cardapio .ui-tabs.ui-tabs-top .ui-tabs-nav.ui-widget-header li.ui-state-active,
#cardapio .ui-tabs.ui-tabs-top .ui-tabs-nav.ui-widget-header li {
    width: 50%;
    margin-bottom: 1px;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-right: 0px;
}

#cardapio .ui-tabs.ui-tabs-top .ui-tabs-nav.ui-widget-header li.ui-state-active,
.ui-tabs .ui-tabs-nav.ui-widget-header li.ui-state-hover {
    background: #680404;
}

#cardapio .ui-tabs.ui-tabs-top .ui-tabs-nav.ui-widget-header li {
    background: #2b2727;
}

#cardapio .ui-tabs .ui-tabs-nav.ui-widget-header li a {
	color: #ffffff;
	outline: none;
	font-weight: bold;
	text-shadow: none;
}


#cardapio .ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger {
    width: 23px;
}

#valores .ui-widget-header {
    border: 1px solid #eeeeee;
    background: #bf2424;
    color: #ffffff;
    font-weight: bold;
}

.ui-tabs.ui-tabs-top {
    border-bottom: 1px solid #eeeeee;
}

#pratosfeitos tr,
#bebidas tr{
	border-bottom: 1px solid #d7d7d7;
}


#bebidas tr > td:LAST-CHILD,
#bebidas td > label,
#pratosfeitos td > label{
	width: 100%;
}


#avaliacao td > label {
	padding-right: 20px;
    padding-left: 5px;
}