.btn-primary,
.btn-success {
    box-shadow: none;
    height: 30px;
}

.btn-danger {
    background-color: #d9534f !important;
    border-color: #d43f3a !important;
    box-shadow: none !important;
    background-image: none !important;
    text-shadow: none !important;
    color: white !important;
}

.btn-success {
    background-color: #5cb85c !important;
    border-color: #4cae4c !important;
    box-shadow: none !important;
    background-image: none !important;
    text-shadow: none !important;
    color: white !important;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
    background-color: #449d44 !important;
    border-color: #398439 !important;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
    background-color: #c9302c !important;
    border-color: #ac2925 !important;
}


#listaGuarnicao ul,
#listaMistura ul {
    padding: 0px;
    list-style-type: none;
    background: #fa9090;
    margin-bottom: 0px;
    display: block;
}

#listaGuarnicao ul > li,
#listaMistura ul > li {
   padding: 10px;
    color: white;
    font-weight: bold;
    border-bottom: 1px solid #df7070;
}


#informacaoPedido > div {
   border-bottom: 1px dashed #e84e4e;
}

#informacaoPedido > div:LAST-CHILD {
   border-bottom: none;
}

#informacaoPedido > div div > span {
    padding-left: 10px;
}

#avaliacao > form > div.col-lg-12 {
	display: -webkit-box;
	border-bottom: 1px solid #d1d1d1;
    padding-bottom: 10px;
}

#avaliacao > form > div > h2 {
	padding-left: 20px;
    color: #241f20;
    font-weight: bold;
}

#avaliacao > form  > div > span {
    border-radius: 50px;
    display: -webkit-inline-box;
    border: 1px solid #9c9c9c;
    height: 65px;
    width: 65px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

#avaliacao > form > div > span > img {
    height: 45px;
}


.pontuacao > i {
    padding: 0px 21px;
    font-size: 40px;
}

.pontuacao > i:FIRST-CHILD {
    color: #ea1b1b;
}

.pontuacao > i:NTH-CHILD(2) {
    color: #ffc800;
}

.pontuacao > i:NTH-CHILD(3) {
    color: #07b807;
}