.btn-primary,
.btn-success {
    box-shadow: none;
    height: 30px;
}

.btn-danger {
    background-color: #d9534f !important;
    border-color: #d43f3a !important;
    box-shadow: none !important;
    background-image: none !important;
    text-shadow: none !important;
    color: white !important;
}

.btn-primary {
   	background-color: #337ab7  !important;
    border-color: #2e6da4  !important;
    box-shadow: none !important;
    background-image: none !important;
    text-shadow: none !important;
    color: white !important;
}

.btn-success {
    background-color: #5cb85c !important;
    border-color: #4cae4c !important;
    box-shadow: none !important;
    background-image: none !important;
    text-shadow: none !important;
    color: white !important;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
    background-color: #449d44 !important;
    border-color: #398439 !important;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
    background-color: #c9302c !important;
    border-color: #ac2925 !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #286090 !important;
    border-color: #204d74 !important;
 }



#listaGuarnicao ul,
#listaMistura ul {
    padding: 0px;
    list-style-type: none;
    background: #fa9090;
    margin-bottom: 0px;
    display: block;
}

#listaGuarnicao ul > li,
#listaMistura ul > li {
    padding: 10px;
    color: #818181;
    font-weight: bold;
    border-bottom: 1px solid #d1d1d1;
    background: #ffffff;
}


#informacaoPedido > div {
     border-bottom: 1px solid #e84e4e;
}

#informacaoPedido > div:LAST-CHILD {
   border-bottom: none;
}

#informacaoPedido > div div > span {
    padding-left: 10px;
}

#avaliacao > form > div.col-lg-12 {
	display: -webkit-box;
	border-bottom: 1px solid #d1d1d1;
    padding-bottom: 10px;
}

#avaliacao > form > div > h2 {
	padding-left: 20px;
    color: #241f20;
    font-weight: bold;
}

#avaliacao > form  > div > span {
    border-radius: 50px;
    display: -webkit-inline-box;
    border: 1px solid #9c9c9c;
    height: 65px;
    width: 65px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

#avaliacao > form > div > span > img {
    height: 45px;
}


.pontuacao > i {
    padding: 0px 21px;
    font-size: 40px;
}

.pontuacao > i:FIRST-CHILD {
    color: #ea1b1b;
}

.pontuacao > i:NTH-CHILD(2) {
    color: #ffc800;
}

.pontuacao > i:NTH-CHILD(3) {
    color: #07b807;
}

.dadosPerfil > div:FIRST-CHILD,
.dadosPerfil > div:LAST-CHILD {
    padding: 20px;
    background: #df5656;
    color: white;
    border-radius: 20px;
}

.dadosPerfil > div > i {
    width: 100%;
    font-size: 30px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.dadosPerfil > div > p,
.dadosPerfil > div > p  {
    font-weight: bold;
    text-align: center;
    margin: 0px;
}

.dadosPerfil > div > p:LAST-CHILD {
    font-size: 20px;
}

   
.headerWebRefeicoes {
	background: #a82521;
}

.headerWebRefeicoes, 
.headerWebRefeicoes button {
    color: white;
}

a:hover, a:focus {
	cursor: pointer;
	text-decoration: none;
	color: #d75959 !important;
}

footer {
    background: #dd4b39;
    padding: 20px;
    color: white;
    position: absolute;
    bottom: 0px;
    width: 100%;
    position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
}

.content-wrap {
   	background-color: #ecf0f5;
    z-index: 800;
    min-height: 901px;
    margin-left: 230px;
    display: block;
}

.content-header {
    background: transparent;
    position: relative;
    padding: 0px;
    background-color: #e8e8e8;
    display: block;
    padding-left: 4px;
    width: 25%;
    border: 1px solid #e8e8e8;
    color: #777777;
    padding: 10px;
    margin: 4px;
    font-weight: bold;
    box-shadow: 0 0px 2px 0 rgba(0,0,0,0.16),0 2px 6px 0 rgba(0,0,0,0.12)!important;
}

.content {
	min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

#quilo table label {
    margin: 0px !important;
    padding: 10px !important;
    color: #666666 !important;
}

#coments > div#pontuacao {
   display: inline-block;
   padding: 5px;
   margin: 0px;
   background: #e6e6e6;
   border: 1px solid #bababa;
   font-weight: bold;
   color: #717272;
}
#coments > div#pontuacao:hover,
#coments > div#pontuacao:focus,
#coments > div#pontuacao:active {
	background: #d3d3d3;
	cursor: pointer;
}
#coments > div#pontuacao > span{
	 padding-right: 10px;
}

#gridAvaliacao hr {	
    border-top: 1px solid #ccc !important;
}

#gridAvaliacao ul {
    margin: 20px;
    padding: 0px;
    background: #f8f8f8;
    border: 1px solid #d9d9d9;
}

.iconeResultado {
   	color: white;
    font-size: 28px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center; 
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}